{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p><b>Software Leader</b/></p>
Como o nome mesmo diz, somos líder no mercado! quando se trata de inovação de softwares.<br>
Software Leader, ou propriamente dizendo Líder de Negócios está atuando no mercado fazem 10 anos<br>
trabalhamos com diversas ferramentas modernas. Procuramos sempre atender ao máximo nosso cliente,<br>
sempre inovando e procurando ideias e soluções para seus problemas. Software Leader hoje lida com<br>
mais de 10 mil funcionários, estamos sempre dando apoio ao máximo para o funcionário. Temos espaços<br> 
reservados para práticas de esportes, leituras, zumba e até mesmo dança! Priorizamos o máximo do bem-estar<br> 
do nosso funcionário. Para enfim, alcançarmos uma ótima aplicalçao/softwares e uma excelente posição no mercado.<br>
<p>Temos outras filiais localizadas em alguns pontos daqui do Brasil.</p><br>
Estamos localizado no Paraná, Rio de Janeiro, Santa Catarina, Rondônia, Ceará, Piauí e Bahia.<br>
<br>
<b>Missão:</b> Gerar Softwares com qualidade e que atenda todas as necessidades do cliente.<br>
<br>
<b>Valores:</b><br>
-Credibilidade<br>
-Confiabialidade<br>
-Comprometimento<br>
<br>
<b>Visão:</b> Abrir mais filiais pelo mundo e ter mais reconhecimento!<br>



{% endblock %}
